<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= data.title %></title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container">
        <div class="row mx-auto mt-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%= data.link %>" alt="<%= data.title %>">
                </div>
                <div class="d-inline ml-2">
                        <div class="d-flex flex-column">
                            <h5 class="p-2">Title: <%= data.title %></h5>
                            <h5 class="p-2">Genre: <%= data.genre %></h5>
                            <h5 class="p-2">Director: <%= data.director %></h5>                          
                            <h5 class="p-2">Actors: <%= data.actor %></h5>
                            <h5 class="p-2">Synopsis:</h5>
                            <p class="p-2"><%= data.synopsis %></p>
                            <a href="/movies/<%= data.id %>/give-rating" class="btn btn-primary">Rate this movie</a>
                        </div>
                </div>
        </div>
        <div>
            <p>Comments: </p>
            <% if(oriComment.length !== 0){
                let arr = []
                for (let i=0; i < oriComment.length; i++) { %>
                    <br><br><p>Rating: <%= oriComment[i].rating %> of 10<br><%= oriComment[i].comment %></p>
                    <a href="/movies/<%= oriComment[i].id %>/reply-comment">Reply</a><br>
                    <% let id = oriComment[i].id
                        arr.push(id)
                        let loop = true
                        while(loop){
                            loop = false
                            for(let j = 0; j < replyComment.length; j++) {
                                if(replyComment[j].commentId === id){ %>
                                    <p>   <%= replyComment[j].comment %></p>
                                    <a href="/movies/<%= replyComment[j].id %>/reply-comment">Reply</a>
                                    <% arr.push(id)
                                    id = replyComment[j].id
                                    replyComment.splice(j,1)
                                    j--
                                    loop = true                       
                                }
                            }
                            if(arr.length > 1){
                                arr.pop()
                                id = arr[arr.length-1]
                            }
                        }
                }
            }
            %>
        </div>
    </div>
    
</body>
</html>