<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate <%= movie.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h2><%= movie.title %></h2>
    <img src="<%= movie.link %>" alt="<%= movie.title %>">
    <form action="/movies/<%= movie.id %>/give-rating" method="POST" class="ml-2">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Rate this movie</label> <br>
            <input type="number" name="rating" id="number" min="1" max="10">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Review</label>
            <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
</body>
</html>